<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="apple-touch-icon" sizes="144x144" href="/public/ico-144.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
  <meta name="theme-color" content="#262626">
  <link rel="manifest" href="/public/manifest.json"> {{{ renderResourceHints() }}} {{{ renderStyles() }}}
</head>

<body>
  <!--vue-ssr-outlet-->
  {{{ renderState() }}}
  <% if (isProd) { %>
    <script defer>
      function handleRegistration(registration) {
        console.log('Service Worker Registered. ', registration)
        /**
         * ServiceWorkerRegistration.onupdatefound
         * The service worker registration's installing worker changes.
         */
        registration.onupdatefound = (e) => {
          const installingWorker = registration.installing;
          installingWorker.onstatechange = (e) => {
            if (installingWorker.state !== 'installed') return;
            if (navigator.serviceWorker.controller) {
              console.log('SW is updated');
            } else {
              console.log('A Visit without previous SW');
            }
          };
        };
      }
      navigator.serviceWorker && navigator.serviceWorker
        .register('/sw.js')
        .then((registration) => handleRegistration(registration))
        .catch((error) => {
          console.log('ServiceWorker registration failed: ', error)
        });

    </script>
    <% } %>
      {{{ renderScripts() }}}
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48656532-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-48656532-2');

      </script>
</body>

</html>
